	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu">
					<li>
						<img src="assets/img/life-is-good-rufus.png" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.bio }}</p>
						<p>{{ site.description}}</p>
					</li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
