---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
          <div class="row">
            <h3 class="title">
            	<p style="font-weight:300;">If I fits, I sits...</p>
              <p style="font-weight:300;">What's yours is mine, and what's mine is also mine...</p>
              <p style="font-weight:300;">No bills to pay, sleep all day...</p>
            </h3>
            <hr class="hr-line">
            <h3 class="title">
              <a class="zoombtn" href="{{ site.url }}">
              	<p style="font-weight:500; font-size:50px;">{{ site.title }}</p>
              </a>
            </h3>
            <hr class="hr-line">
            <h3 class="title">
              <img src="assets/img/beans.png"></img>
              <!-- Last two buttons can be login/register and cats? -->
              <!-- <a class="btn zoombtn" href="{{ site.url }}/posts">Posts</a>
              <a class="btn zoombtn" href="{{ site.url }}/projects">Projects</a> -->
           </h3>
          </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
